<body>
<center>
  <h1 style="color:white; font-size:50px; font-family:impact">LOGIN</h1>
  </center>
</body>

<div class="card-panel">
 <form action="/login" method="post">
  <br>
  <div class="blue-text text-darken-2">
    <label for="username">USERNAME:</label>
    <input type="text" name="user[username]" id="username">
  </div>
  <br>
  <div class="blue-text text-darken-2">
    <label for="password">PASSWORD:</label>
    <input type="password" name="user[password]" id="password">
  </div>
  <br>
  <center>
  <input type="submit" value="Login">
  </center>
 </form>
</div>