<h1 style="font-size:30px">LOGIN</h1>
<form action="/login" method="post">
  <br>
  <div class="blue-text text-darken-2">
    <label for="username">USERNAME:</label>
    <input type="text" name="user[username]" id="username">
  </div>
  <br>
  <div class="blue-text text-darken-2">
    <label for="password">PASSWORD:</label>
    <input type="password" name="user[password]" id="password">
  </div>
  <br>
  <input type="submit" value="Login">
</form>