<body class="red-text text-lighten-2">
    <center>
        <h1 style="font-size:50px; font-family:impact">CREATE ACCOUNT</h1>
    </center>
</body>

<form action="/signup" method="post">
    <div>
        <label for="username">USERNAME:</label>
        <input type="text" name="user[username]" id="username">
    </div>
    <br>
    <div>
        <label for="password">PASSWORD:</label>
        <input type="password" name="user[password]" id="password">
    </div>
    <br>
    <center>
    <input type="submit" value="CREATE ACCOUNT">
    </center>
</form>