<h1 style="color:fuchsia;font-size:30px">Create Account</h1>

<form action="/signup" method="post">
<div>
<label for="username">Username:</label>
<input type="text" name="user[username]" id="username">
</div>
<br>
<div>
<label for="password">Password:</label>
<input type="password" name="user[password]" id="password">
</div>
<br>
<input type="submit" value="Create Account">
</form>