<h1 style="font-size:30px">CREATE ACCOUNT</h1>

<form action="/signup" method="post">
<div>
<label for="username">USERNAME:</label>
<input type="text" name="user[username]" id="username">
</div>
<br>
<div>
<label for="password">PASSWORD:</label>
<input type="password" name="user[password]" id="password">
</div>
<br>
<input type="submit" value="CREATE ACCOUNT">
</form>