<h1>Create Items</h1>

<form action="/items" method="post">
<br>
<br>
<div>
<label for="item_name">Item Name</label>
<input type="text" name="item[name]" id="item" size="50">
</div>
<br>
<br>
<div>
<label for="description">Description</label>
<input type="text" name="description" id="description" size="50">
</div>
<br>
<br>
<div>
<label for="link">Add a link for image reference</label>
<input type="url" name="image_link" id="image_link" size="100">
</div>

<br>

<input type="submit" value="Create Item">
</form>