<h1 style="color:fuchsia;font-size:30px">Show Page</h1>

<form action="/items/<%= @item.id %>" method="post">

<input type="hidden" name="_method" value="delete">

<input type="submit" value="Delete">
</form>