<center>
<div style="color:white; font-family:impact">
    <h1>WELCOME TO INSTYLECART!</h1>
    <p>PLEASE CREATE AN ACCOUNT OR LOG IN FIRST.</p>
</div>
</center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
