<center>
<div style="font-family:verdana">
<h1 class="red-text text-lighten-2">WELCOME TO INSTYLECART!</h1>
<p class="red-text text-lighten-2">Please create an account or log in first.</p>
</div>
</center>